@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
nav{
 font-family: 'Ubuntu',sans-serif;   
 width: 100vw;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
    list-style: none;
    height: 55px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
width: 50px;
padding: 0 8px;
}
.brand{
   display: flex;
   align-items: center;
   font-weight: bolder;
   font-size: 1.3rem; 
}
.container{
    height: 70vh;
    background-color: black;
    color: #fff;
    margin: 23px auto;
    width: 70vw;
    font-family: 'Varela Round', sans-serif;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.bottom{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-color: black;
    color: white;
}
.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
width: 80vw;
cursor: pointer;
background-color: aquamarine;
transition: background-color 0.3s ease;
display: block;


}

.songName{
    width: 50%;
    text-align: left;
}

.songList{
   
    width: 40dvw;
    height: 100%;
   
}

.songItem{
    overflow: visible;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 90%;
    color: black;
    margin: 15px 0;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 50%;
    
}
.songItem .timeStamp{
    margin: 0 23px;
}
.songItem .timeStamp i{
    cursor: pointer;
}
.songInfo{
    overflow: hidden;
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    width: 42px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


#songTitle{
    margin: 0 5px;
    transition: 0.4s ease-in-out;
}
.songListPlay{
    width: 20%;
    text-align: left;
}
@media screen and (max-width:1000px) {
    body{
        height: 100vh;
    }
  .container{
    border-radius: 0;
    background-blend-mode:lighten;
    width: 100vw;
    height: 70vh;
    padding-left: 15px;
    padding-right: 30px;
    margin: 0 auto;
  }
  .songList{
    margin: 0;
    width: 100%;
    font-size: 10px;
  }
  .songItem{
    width: 100%;
}
.songItem img{
    width: 20px;
    margin: 0 -20px 0  10px;
    border-radius: 50%;
}
.songItem .timeStamp{
    margin: 0px;
}
h1{
    font-size: large;
}
nav{
    height: 10vh;
}
nav ul{
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-right: 20px;
    font-size: 10px;

}
.brand img{
    height: 100%;
    padding: 0 8px;
    }
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 0.8rem; 
}

.bottom{
    overflow: hidden;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    padding: 0 ;
    background-color: rgba(0,0,0,0.9);

}
.bottom .songInfo{
    position: relative;
    bottom: 65%;
    left: 0;
}
.bottom .icons{
    position: relative;
    bottom: 0;
    
}
}